@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .triangle-up {
    @apply w-0 h-0 border-l-8 border-r-8 border-b-8;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: currentColor;
  }
  .theme-dark {
    @apply bg-dark-bg text-dark-text;
  }
  .theme-dark .bg-bg {
    @apply bg-dark-bg;
  }
  .theme-dark .text-text {
    @apply text-dark-text;
  }
  .theme-dark .bg-primary {
    @apply bg-dark-primary;
  }
  .theme-dark .text-secondary {
    @apply text-dark-secondary;
  }
  .theme-dark .bg-accent {
    @apply bg-dark-accent;
  }
  .theme-dark .text-highlight {
    @apply text-dark-highlight;
  }
  .theme-dark .fill-secondary {
    @apply fill-dark-secondary;
  }

  .theme-light {
    @apply bg-light-bg text-light-text;
  }
  .theme-light .bg-bg {
    @apply bg-light-bg;
  }
  .theme-light .text-text {
    @apply text-light-text;
  }
  .theme-light .bg-primary {
    @apply bg-light-primary;
  }
  .theme-light .text-secondary {
    @apply text-light-secondary;
  }
  .theme-light .bg-accent {
    @apply bg-light-accent;
  }
  .theme-light .text-highlight {
    @apply text-light-highlight;
  }
  .theme-light .fill-secondary {
    @apply fill-light-secondary;
  }

  .theme-space {
    @apply bg-space-bg text-space-text;
  }
  .theme-space .bg-bg {
    @apply bg-space-bg;
  }
  .theme-space .text-text {
    @apply text-space-text;
  }
  .theme-space .bg-primary {
    @apply bg-space-primary;
  }
  .theme-space .text-secondary {
    @apply text-space-secondary;
  }
  .theme-space .bg-accent {
    @apply bg-space-accent;
  }
  .theme-space .text-highlight {
    @apply text-space-highlight;
  }
  .theme-space .fill-secondary {
    @apply fill-space-secondary;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
