@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .link {
    @apply font-medium underline;
    @apply transition-colors duration-300;
    @apply cursor-pointer;
  }
  .theme-dark .link {
    @apply text-dark-link;
  }
  .theme-dark .link:hover {
    @apply text-dark-link-hover;
  }
  .theme-light .link {
    @apply text-light-link;
  }
  .theme-light .link:hover {
    @apply text-light-link-hover;
  }
  .theme-space .link {
    @apply text-space-link;
  }
  .theme-space .link:hover {
    @apply text-space-link-hover;
  }
  .theme-latte .link {
    @apply text-latte-link;
  }
  .theme-latte .link:hover {
    @apply text-latte-link-hover;
  }

  .theme-latte .bg-text {
    @apply bg-latte-text;
  }

  .theme-poolParty .link {
    @apply text-poolParty-link;
  }
  .theme-poolParty .link:hover {
    @apply text-poolParty-link-hover;
  }

  .theme-poolParty .bg-text {
    @apply bg-poolParty-text;
  }
  .theme-forest .link {
    @apply text-forest-link;
  }
  .theme-forest .link:hover {
    @apply text-forest-link-hover;
  }

  .theme-forest .bg-text {
    @apply bg-forest-text;
  }
}
@layer base {
  .theme-dark .bg-text {
    @apply bg-dark-text;
  }

  .theme-light .bg-text {
    @apply bg-light-text;
  }

  .theme-space .bg-text {
    @apply bg-space-text;
  }

  .hover-effect {
    @apply before:absolute before:-bottom-0 before:left-0 before:w-[60%] before:h-[2px] before:bg-secondary before:scale-x-0 before:origin-left before:transition-transform before:duration-300 hover:before:scale-x-100;
  }

  .hover-effect-highlight {
    @apply before:absolute before:-bottom-0 before:left-0 before:w-[50%] before:h-[3px] before:bg-highlight before:scale-x-0 before:origin-left before:transition-transform before:duration-300 hover:before:scale-x-100;
  }

  .hover-effect-arrow {
    @apply transition-transform duration-300 transform 
        group-hover:translate-x-2;
  }
}

@layer components {
  .theme-space .bg-space-img {
    background-image: url("/assets/colorfullStars.png"); /* Adjust the path if needed */
    background-size: cover;
    background-position: center;
  }
  .triangle-up {
    @apply w-0 h-0 border-l-8 border-r-8 border-b-8;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: currentColor;
  }

  .theme-dark {
    @apply bg-dark-bg text-dark-text;
  }
  .theme-dark .bg-bg {
    @apply bg-dark-bg;
  }
  .theme-dark .text-text {
    @apply text-dark-text;
  }
  .theme-dark .bg-primary {
    @apply bg-dark-primary;
  }
  .theme-dark .text-secondary {
    @apply text-dark-secondary;
  }
  .theme-dark .bg-accent {
    @apply bg-dark-accent;
  }
  .theme-dark .text-highlight {
    @apply text-dark-highlight;
  }
  .theme-dark .fill-secondary {
    @apply fill-dark-secondary;
  }
  .theme-dark .border-highlight {
    @apply border-dark-highlight;
  }
  .theme-dark .border-accent {
    @apply border-dark-accent;
  }

  .theme-light {
    @apply bg-light-bg text-light-text;
  }
  .theme-light .bg-bg {
    @apply bg-light-bg;
  }
  .theme-light .text-text {
    @apply text-light-text;
  }
  .theme-light .bg-primary {
    @apply bg-light-primary;
  }
  .theme-light .text-secondary {
    @apply text-light-secondary;
  }
  .theme-light .bg-accent {
    @apply bg-light-accent;
  }
  .theme-light .text-highlight {
    @apply text-light-highlight;
  }
  .theme-light .fill-secondary {
    @apply fill-light-secondary;
  }
  .theme-light .border-highlight {
    @apply border-light-highlight;
  }
  .theme-light .border-accent {
    @apply border-light-accent;
  }

  .theme-space {
    @apply bg-space-bg text-space-text;
  }
  .theme-space .bg-bg {
    @apply bg-space-bg;
  }
  .theme-space .text-text {
    @apply text-space-text;
  }
  .theme-space .bg-primary {
    @apply bg-space-primary;
  }
  .theme-space .text-secondary {
    @apply text-space-secondary;
  }
  .theme-space .bg-accent {
    @apply bg-space-accent;
  }
  .theme-space .text-highlight {
    @apply text-space-highlight;
  }
  .theme-space .fill-secondary {
    @apply fill-space-secondary;
  }
  .theme-space .border-highlight {
    @apply border-space-highlight;
  }
  .theme-space .border-accent {
    @apply border-space-accent;
  }

  .theme-dark .bg-highlight {
    @apply bg-dark-highlight;
  }
  .theme-light .bg-highlight {
    @apply bg-light-highlight;
  }
  .theme-space .bg-highlight {
    @apply bg-space-highlight;
  }

  .theme-dark .bg-secondary {
    @apply bg-dark-secondary;
  }
  .theme-light .bg-secondary {
    @apply bg-light-secondary;
  }
  .theme-space .bg-secondary {
    @apply bg-space-secondary;
  }

  .theme-poolParty {
    @apply bg-poolParty-bg text-poolParty-text;
  }
  .theme-poolParty .bg-bg {
    @apply bg-poolParty-bg;
  }
  .theme-poolParty .text-text {
    @apply text-poolParty-text;
  }
  .theme-poolParty .bg-primary {
    @apply bg-poolParty-primary;
  }
  .theme-poolParty .text-secondary {
    @apply text-poolParty-secondary;
  }
  .theme-poolParty .bg-accent {
    @apply bg-poolParty-accent;
  }
  .theme-poolParty .text-highlight {
    @apply text-poolParty-highlight;
  }
  .theme-poolParty .fill-secondary {
    @apply fill-poolParty-secondary;
  }
  .theme-poolParty .border-highlight {
    @apply border-poolParty-highlight;
  }
  .theme-poolParty .border-accent {
    @apply border-poolParty-accent;
  }
  .theme-poolParty .bg-highlight {
    @apply bg-poolParty-highlight;
  }
  .theme-poolParty .bg-secondary {
    @apply bg-poolParty-secondary;
  }

  .theme-latte {
    @apply bg-latte-bg text-latte-text;
  }
  .theme-latte .bg-bg {
    @apply bg-latte-bg;
  }
  .theme-latte .text-text {
    @apply text-latte-text;
  }
  .theme-latte .bg-primary {
    @apply bg-latte-primary;
  }
  .theme-latte .text-secondary {
    @apply text-latte-secondary;
  }
  .theme-latte .bg-accent {
    @apply bg-latte-accent;
  }
  .theme-latte .text-highlight {
    @apply text-latte-highlight;
  }
  .theme-latte .fill-secondary {
    @apply fill-latte-secondary;
  }
  .theme-latte .border-highlight {
    @apply border-latte-highlight;
  }
  .theme-latte .border-accent {
    @apply border-latte-accent;
  }
  .theme-latte .bg-highlight {
    @apply bg-latte-highlight;
  }
  .theme-latte .bg-secondary {
    @apply bg-latte-secondary;
  }
  .theme-forest {
    @apply bg-forest-bg text-forest-text;
  }
  .theme-forest .bg-bg {
    @apply bg-forest-bg;
  }
  .theme-forest .text-text {
    @apply text-forest-text;
  }
  .theme-forest .bg-primary {
    @apply bg-forest-primary;
  }
  .theme-forest .text-secondary {
    @apply text-forest-secondary;
  }
  .theme-forest .bg-accent {
    @apply bg-forest-accent;
  }
  .theme-forest .text-highlight {
    @apply text-forest-highlight;
  }
  .theme-forest .fill-secondary {
    @apply fill-forest-secondary;
  }
  .theme-forest .border-highlight {
    @apply border-forest-highlight;
  }
  .theme-forest .border-accent {
    @apply border-forest-accent;
  }
  .theme-forest .bg-highlight {
    @apply bg-forest-highlight;
  }
  .theme-forest .bg-secondary {
    @apply bg-forest-secondary;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input,
textarea {
  background-color: transparent;
  border-bottom: 2px solid;
  margin-bottom: 30px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}
